.todoList {
  text-align: center;
  margin-top: 120px;
}

.todos {
  display: flex;
  flex-direction: column;
}

.addTodo {
  text-align: center;
}

.p {
  list-style-type: none;
}

.btn {
  margin-left: 20px;
}
