.todoList {
  text-align: center;
  margin-top: 120px;
}

.addTodo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.todos {
  display: flex;
}

.li {
  list-style-type: none;
  margin-right: 20px;
}
